{% extends 'base.html.twig' %}

{% block title %}Congés{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('csss/bootstrap.css') }}">
{% endblock %}
	
{% block body %}
<div class="main-content-inner">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
          {{ form_start(changer) }}
          {{ form_widget(changer) }} 
          {{ form_end(changer) }}


        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jss/jquery-3.4.1.js') }}"></script>
    <script src="{{ asset('jss/bootstrap.js') }}"></script>
	{{ parent() }}
	<!--<script type="text/javascript">
	
const conges= document.getElementById('conges');
console.log(conges);
if(conges){
conges.addEventListener("click", e => {
	if (e.target.className === 'btn btn-danger delete-conge') {
		if (confirm('Etes-vous sûr?')) {
			const id = e.target.getAttribute('id-conge');

			fetch(`/gest_conges/delete/${id}`, {
				method: 'DELETE'
			}).then(res => window.location.reload());
		}
	}
});
}
</script>-->
<script>
    $(document).ready(function(){
        //Premier validation du demande      
        $('#conges').on('click','.valid',function(){
        var con = $(this).data('idcon');
        $('#ValidModal').modal('show');
        $('.cg').val(con);

        //fonction manova ny state an'ilay congé eto
        $('#ValidModal').on('click', '.confirmer', function() {
            fetch(`skjaljskajs`, {
            }).then(res => window.location.reload());
        })
      });




        //Annulation de congé
        $('#conges').on('click','.delete',function(){
        var congeid = $(this).data('idconge'); // Ty ny maka an'ilay id ho supprimena
        var link = // Ny maka an le lien eto koa tsy haiko xD
        $('#DeleteModal').modal('show');
        $('.congid').val(congeid);
        
        $('#DeleteModal').on('click','.supp', function() {
            fetch(`/gest_conges/delete/${congeid}`, {
                method: 'DELETE'
            }).then(res => window.location.reload());
        })
        });



      });
 
</script>
{% endblock %}