<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Inscription - Assisteo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/icone/icone_assisteo.png') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/metisMenu.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slicknav.min.css') }}">
    <!-- amchart css -->
    <link rel="stylesheet" href="{{ asset('css/export.css') }}" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{{ asset('css/typography.css') }}">
    <link rel="stylesheet" href="{{ asset('css/default-css.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    <!-- modernizr css -->
    <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js') }}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-s2">
        <div class="container">
            <div class="login-box ptb--100">
                {{ form_start(form) }}
                    
                    <div class="login-form-body">
                        <div class="login-form-head">
                        <h4>Inscription</h4>
                        <p>Veuillez remplir les informations ci-dessous.</p>
                    </div>
                        {{ form_row(form.nom, {'label':'Nom:','attr': {'class':'form-control', 'placeholder': 'Votre nom', 'autocomplete':'off'}}) }}
                        {{ form_row(form.prenom, {'label':'Prénom:','attr': {'class':'form-control', 'placeholder': 'Votre prénom', 'autocomplete':'off'}}) }}
                        {{ form_row(form.adresse, {'label':'Adresse:','attr': {'class':'form-control', 'placeholder': 'Habitation', 'autocomplete':'off'}}) }}
                        {{ form_row(form.fonction, {'label':'Fonction:','attr': {'class':'form-control', 'placeholder': 'Votre poste', 'autocomplete':'off'}}) }}
                        {{ form_row(form.username, {'label':'Nom d\'utilisateur:','attr': {'class':'form-control', 'placeholder': 'Nom d\'utilisateur', 'autocomplete':'off'}}) }}
						{{ form_row(form.password, {'label':'Mot de passe:','attr': {'class':'form-control', 'placeholder': 'Mot de passe'}}) }}
						{{ form_row(form.confirm_password, {'label':'Confirmer:','attr': {'class':'form-control', 'placeholder': 'Confirmer mot de passe'}}) }}
						<br>
                        <div class="submit-btn-area">
                            <button class="btn btn-info" id="form_submit" type="submit">Valider <i class="ti-arrow-right"></i></button>
                            
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">Vous avez déjà un compte? <a href="{{ path('security_login')}}">Connexion</a></p>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="{{ asset('js/vendor/jquery-2.2.4.min.js') }}"></script>
    <!-- bootstrap 4 js -->
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/metisMenu.min.js') }}"></script>
    <script src="{{ asset('js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('js/jquery.slicknav.min.js') }}"></script>
    
    <!-- others plugins -->
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
</body>

</html>