{% extends 'base.html.twig' %}
{% block title %}Publier une note interne{% endblock %}
{% block body %}

<div class="main-content-inner">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h1>Formulaire eto</h1>
                    {{ form_start(formNote) }}
                    {{ form_widget(formNote) }}
                    {{ form_end(formNote) }}
                </div>
            </div>
        </div>
    

        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h2>Vos notes publiés</h2>
                    <br>
                    {% for notes in note %}
                    <h2 class="header-title">{{ notes.titre }}</h2>
                    
                    <p><b>{{ notes.contenu }}</b></p>
                    
                    <p>Publié le {{ notes.publication_date | date("d/m/Y") }}</p>
                    <br>
                    <a href="/admin/note_interne/edit/{{ notes.id }}" style="color:white;" class="btn btn-info">Editer</a>
                    <a class="btn btn-danger" style="color: white;">Supprimer</a>
                    <hr>
                    {% endfor %}
                    
                </div>
            </div>
    </div>
    </div>
</div>
{% endblock %}
