{% extends 'base_user_dash.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}

<div class="main-content-inner">
    <div class="sidebar-menu">
    {% for soldes in solde %}
            <div class="sidebar-header">
                <div class="logo">
                    <a href="index.html"><img src="{{ asset('images/logo/logo_assisteo.png') }}" alt="logo"></a>
                </div>

                <div class="main-menu">
                    <div class="menu-inner">
                    <nav>
                    <ul class="metismenu" id="menu">
                    <li class="active">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-info"></i><span>Vos solde congés</span></a>
                            </li>
        <div class="col-md-3 mt-4">
    
            <div class="card" style="width: 190px; height:150px;">
                <div class="card-body" style="background-image: linear-gradient(to right, green, #06b287, #3de5bb);">
                <p style="color:white; display:flex; justify-content:center">Soldes affecté:</p>
                <h1 style="color:white; display:flex; justify-content:center">{{ soldes.initial }}</h1>
                </div>
            </div>
        </div>

         <div class="col-md-3 mt-4">
    
            <div class="card" style="width: 190px; height:150px;">
                <div class="card-body" style="background-image: linear-gradient(to right, blue, #4e4efd, #6b8eea);">
                <p style="color:white; display:flex; justify-content:center">Soldes consommés:</p>
                <h1 style="color:white; display:flex; justify-content:center">{{ soldes.consomme }}</h1>
                </div>
            </div>
        </div>

         <div class="col-md-3 mt-4">
    
            <div class="card" style="width: 190px; height:150px; backgroundcolor: red;">
                <div class="card-body" style="background-image: linear-gradient(to right, red, #d95950, #f28b8b);">
                <p style="color:white; display:flex; justify-content:center">Soldes restants:</p>
                <h1 style="color:white; display:flex; justify-content:center">{{ soldes.restant }}</h1>
                </div>
            </div>
        </div>
            


                    </ul>
                    </nav>
                    </div>
                </div>

            </div>
            {% endfor %}
    </div>

    <div class="row">


                <!--<div class="col-lg-3 mt-5">
                        <div class="card">
                            <div class="card-body" style="height: 356px;">
                            
                                <h4 class="header-title">Solde congés</h4>
                                
                                <button type="button" class="btn btn-success btn-lg btn-block">
                                    Votre solde :
                                    
                                    <span class="badge badge-light"></span>
                                    
                                </button>
                                <button type="button" class="btn btn-primary btn-lg btn-block">
                                    Consommés :
                                    
                                    <span class="badge badge-light"></span>
                                    
                                </button>
                                <button type="button" class="btn btn-danger btn-lg btn-block">
                                    Restants :
                                    
                                    <span class="badge badge-light"></span>
                                    
                                </button>
                                
                                
                            </div>
                        </div>
                </div>-->



        <div class="col-lg-12 mt-5">
            <div class="card">
                <div class="card-body" style="background-color: #1d233d;">
                    <h1 class="header-title text-white" style="display:flex; justify-content:center"><i class="ti-pencil-alt"></i>&nbspNotes internes</h1>
                    <div class="testimonial-carousel owl-carousel">
                        {% for note in notes %}
                        <div class="tst-item">
                            
                            <div class="tstu-content">
                                <h2 style="color:white"><u>{{ note.titre }}</u></h2>
                                <br>
                                <br>
                                <h3 style="color: white;">{{ note.contenu }}</h3>
                                <br>
                                <span class="profsn">Publié par {{ note.prenom }} le : {{ note.publication_date|date('d/m/Y')}}</span>
                                
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>



    </div>

    <!-- Début tableau congé -->
    
    <div class="col-lg-12 mt-5">
        <div class="card">
            <div class="card-body">

                {% for alert in app.flashes('conge_success') %}
                        <div class="alert alert-success alert-dismissible fade show col-12 mt-3" style="background-color: #28a745;" role="alert">
                                <span style="display:flex; justify-content:center; color:white"> {{ alert }}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span class="fa fa-times"></span>
                                </button>
                        </div>
                {% endfor %}

                <h2 class="header-title">Liste de vos congés</h3>
                <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table text-center" id="con">
                                        <thead class="text-uppercase bg-secondary">
                                            <tr class="text-white">
                                                <th scope="col">Date de départ</th>
                                                <th scope="col">Date de retour</th>
                                                <th scope="col">Motif</th>
                                                <th scope="col">Etat</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        {% for conges in conges %}
                                        <tbody>
                                            <tr>
                                                <td>{{ conges.date_depart | date("d/m/Y") }}</td>
                                                <td>{{ conges.date_retour | date("d/m/y") }}</td>
                                                <td>{{ conges.motif}}</td>
                                                <td>
                                                {% if conges.etat == "En attente" %}
                                                <span class="badge badge-waring" style="background-color:#ffc107">En attente</span>
                                                {% elseif conges.etat == "A valider" %}
                                                    <span class="badge badge-primary" style="background-color:#007bff">A valider</span>
                                                {% elseif conges.etat == "Refusé" %}
                                                    <span class="badge badge-danger" style="background-color:#dc3545">Refusé</span>
                                                {% elseif conges.etat == "Validé" %}
                                                <span class="badge badge-success" style="background-color:#28a745">Validé</span>
                                                {% endif %}
                                                </td>
                                                <td>
                                                    {% if conges.etat == "En attente" %}
                                                    <a href="/conge/editer/{{ conges.id }}" class="btn btn-info">M</a>
                                                    <a href="javascript:void(0);" class="btn btn-danger delete" data-idcon="{{ conges.id }}">S</a>
                                                    {% elseif conges.etat == "A valider" %}
                                                    <p>En attente d'approbation</p>
                                                    {% elseif conges.etat == "Refusé" %}
                                                    <p>Aucune action à faire</p>
                                                    {% elseif conges.etat == "Validé" %}
                                                    <p>Vous pouvez prendre votre congé</p>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- Fin tableau congé -->

    
    <hr style="border: 1px solid;">


    
        <div class="col-lg-12 mt-5">
            <div class="card">
                <div class="card-body">
                    {% for alert in app.flashes('permission_success') %}
                            <div class="alert alert-success alert-dismissible fade show col-12 mt-3" style="background-color: #28a745;" role="alert">
                                    <span style="display:flex; justify-content:center; color:white">{{ alert }}</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span class="fa fa-times"></span>
                                    </button>
                            </div>
                      {% endfor %}
                    <h2 class="header-title">Liste de vos permissions</h3>
                    <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center" id="per">
                                            <thead class="text-uppercase bg-secondary">
                                                <tr class="text-white">
                                                    <th scope="col">Date demande</th>
                                                    <th scope="col">Date de permission</th>
                                                    <th scope="col">Motif</th>
                                                    <th scope="col">Etat</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            {% for permission in permission %}
                                            <tbody>
                                                <tr>
                                                    <td>{{ permission.date_demande | date("d/m/Y") }}</td>
                                                    <td>{{ permission.date_permission | date("d/m/Y") }}</th>
                                                    <td>{{ permission.sujet }}</td>
                                                    <td>
                                                    {% if permission.state == "En attente" %}
                                                    <span class="badge badge-waring" style="background-color:#ffc107">En attente</span>
                                                    {% elseif permission.state == "A valider" %}
                                                        <span class="badge badge-primary" style="background-color:#007bff">A valider</span>
                                                    {% elseif permission.state == "Refusé" %}
                                                        <span class="badge badge-danger" style="background-color:#dc3545">Refusé</span>
                                                    {% elseif permission.state == "Validé" %}
                                                    <span class="badge badge-success" style="background-color:#28a745">Validé</span>
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if permission.state == "En attente" %}
                                                        <a href="/permission/editer/{{ permission.id }}" class="btn btn-info">M</a>
                                                        <a href="javascript:void(0);" class="btn btn-danger supprimer" data-idper="{{ permission.id }}">R</a>
                                                        {% elseif permission.state == "A valider" %}
                                                        <p>Vu par l'administrateur, veuillez attendre</p>
                                                        {% elseif permission.state == "Validé" %}
                                                        <p>Parmission accordée</p>
                                                        {% elseif permission.state == "Refusé" %}
                                                        <p>Aucune action à faire</p>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                                
                </div>
        </div>
        
        
        </div>
    

    <!-- Modal annuler congé-->
      
                         <div class="modal fade" id="DeleteConge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                               <div class="modal-content">
                                   <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Confirmation</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                   </div>
                                   <div class="modal-body">
                                        <strong>Annuler la demande de congé?</strong> 
                                   </div>
                                   <div class="modal-footer">
                                        <input type="hidden"class="form-control congid" required>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-danger supp" data-dismiss="modal">Confirmer</button>
                                   </div>
                                    </div>
                            </div>
                         </div>

    <!-- Modal annuler permission-->
      
                         <div class="modal fade" id="DeletePermission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                               <div class="modal-content">
                                   <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Confirmation</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                   </div>
                                   <div class="modal-body">
                                        <strong>Annuler la demande de permission?</strong> 
                                   </div>
                                   <div class="modal-footer">
                                        <input type="hidden"class="form-control congid" required>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-danger supp" data-dismiss="modal">Confirmer</button>
                                   </div>
                                    </div>
                            </div>
                         </div>

</div>
{% block javascripts %}
<script src="{{ asset('jss/jquery-3.4.1.js') }}"></script>
<script src="{{ asset('jss/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/chart.min.js') }}"></script>
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
    //Annulation de congé
        $('#con').on('click','.delete',function(){
        const congeid = $(this).data('idcon'); // Ty ny maka an'ilay id ho supprimena
        $('#DeleteConge').modal('show');
        
        $('#DeleteConge').on('click','.supp', function() {
            fetch(`/conge/supprimer/${congeid}`, {
                method: 'DELETE'
            }).then(res => window.location.reload());
        })
        });
    //Annulation permission
        $('#per').on('click','.supprimer', function() {
        const permi = $(this).data('idper');
        $('#DeletePermission').modal('show');

        $('#DeletePermission').on('click','.supp', function() {
            fetch(`/permission/supprimer/${permi}`, {
                method: 'DELETE'
            }).then(res => window.location.reload());
        })
        })
});
</script>
{% endblock %}

{% endblock %}